# Recap

In [1]:
print("Recap")

Recap

In [2]:
# This is comment

In [3]:
'''
this is
multi
ple line 
comment
'''

'\nthis is\nmulti\nple line \ncomment\n'

# Python Indentation

In [8]:
if 5>2:
    print("True")
    print("yes it is")

True
yes it is

# Variables & names

In [13]:
# int a = 10

car = 100
space= 2.0
driver = 45
persons = 6

car_not_run = car - driver  # 100-45
cars_driver = driver # 45

print("there are", car , "cars available")
print("there are", cars_driver , "cars available")

there are 100 cars available
there are 45 cars available

In [15]:
x = 4  # int
print(x)

x= "Fun" # str
print(x)

4
Fun

# Variable names

In [16]:
#legal
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar3 = "John"

#illegal
3myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-16-abfed2ea676c>, line 10)

In [17]:
a = 2
x , y , z = "Ram", "Rahul","Sita"
print(x)
print(y)
print(z)

Ram
Rahul
Sita

In [20]:
v=16
print(v)
print("v")

16
v

# Formatted Printing

In [9]:
my_name = 'Tony'
my_age = 35 
my_height = 74 # inches
my_weight = 180 # lbs
my_eyes = 'Blue'
my_teeth = 'White'
my_hair = 'Brown'

print(f"Let's talk about {my_name}.")

print(f"He's {my_height} inches tall.")
print(f"He's {my_weight} pounds heavy.")
print("Actually that's not too heavy.")
print(f"He's got {my_eyes} eyes and {my_hair} hair.")
print(f"His teeth are usually {my_teeth} depending on the coffee.")

# this line is tricky, try to get it exactly right
t = my_age + my_height + my_weight

print(f"If I add {my_age}, {my_height}, and {my_weight} I get {t}.")

Let's talk about Tony.
He's 74 inches tall.
He's 180 pounds heavy.
Actually that's not too heavy.
He's got Blue eyes and Brown hair.
His teeth are usually White depending on the coffee.
If I add 35, 74, and 180 I get 289.

In [11]:
types_of_people = 10
x = f"There are {types_of_people} types of people."

binary = "binary"
do_not = "don't"
y = f"Those who know {binary} and those who {do_not}."

print(x)
print(y)

print(f"I said: {x}")
print(f"I also said: '{y}'")

hilarious = False
joke_evaluation = "Isn't that joke so funny?! {}"

# Python also has another kind of formatting using the .format() syntax
# that is used when we want to apply a format to an already-created string
print(joke_evaluation.format(hilarious))


w = "This is the left side of..."
e = "a string with a right side."
print(w + e)

There are 10 types of people.
Those who know binary and those who don't.
I said: There are 10 types of people.
I also said: 'Those who know binary and those who don't.'
Isn't that joke so funny?! False
This is the left side of...a string with a right side.

In [14]:
print("Mary had a little lamb.")

print("Its fleece was white as {}.".format('snow'))
print("And everywhere that Mary went.")
print("." * 10) # what'd that do?

end1 = "C"
end2 = "h"
end3 = "e"
end4 = "e"
end5 = "s"
end6 = "e"
end7 = "B"
end8 = "u"
end9 = "r"
end10 = "g"
end11 = "e"
end12 = "r"

# '+' sign puts a space between two values being printed
# end
print(end1 + end2 + end3 + end4 + end5 + end6, end="")
print(end7 + end8 + end9 + end10 + end11 + end12)

# We put an end=" " at the end of line. This tells print to not end
# the line with a newline character and go to the next line.

Mary had a little lamb.
Its fleece was white as snow.
And everywhere that Mary went.
..........
CheeseBurger

In [16]:
import math
#print(f'The value of pi is approximately {math.pi:.3f}.')

print(f'{"Jack":10} ==> {1122334455:10d}')
print(f'{"Mary":10} ==> {2233551155:10d}')

Jack       ==> 1122334455
Mary       ==> 2233551155

In [17]:
*123

SyntaxError: can't use starred expression here (<ipython-input-17-5ed517554528>, line 1)

In [18]:
5_varisome

SyntaxError: invalid token (<ipython-input-18-f7c5330a9454>, line 1)

# input()

In [5]:
print("What is your Name?")
N = input()

What is your Name?
Ram

In [4]:
y = input("Age?")

Age?10

In [6]:
2+5

7

In [7]:
8>10

False

In [8]:
8<10

True

In [9]:
3+5/8-4+10

9.625

# Integers

In [10]:
asdf = 56248
notable = 1278248875

# Booleans

In [11]:
print(int(True))

1

In [12]:
print(int(False))

0

In [14]:
print(bool(-52))

True

In [15]:
print(bool(0))

False

In [16]:
print(not True)

False

In [17]:
print(not False)

True

In [18]:
print(True and True)

True

In [19]:
print(True and False)

False

In [20]:
print(True or True)

True

In [21]:
print(True or False)

True

In [22]:
print(False or False)

False

In [23]:
print(10 + True)  # 10+1=11

11

In [25]:
print(10-False) #10

10

In [26]:
print(6 - True)

5

Float

In [27]:
height = 100.5
raod = 5.2

In [31]:
from fractions import Fraction
print(Fraction(10,6))

print(Fraction(1,3) + Fraction(2,3)) # 1/3 + 2/3 = 3/3 = 1

f = Fraction(2,3)
print(f.numerator)
print(f.denominator)

5/3
1
2
3

# String

In [44]:
ram = "Sita"
Harry = "peter"
print(ram + Harry)
print(Harry.capitalize())
print(ram.upper())

Sitapeter
Peter
SITA

# Type Casting

In [1]:
# int()
# float()
# str()

In [3]:
#Correct
int(5.236987)
int("25")

25

In [4]:
#Incorrect
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

In [5]:
#Incorrect
int("9.452388")

ValueError: invalid literal for int() with base 10: '9.452388'

In [8]:
#correct
float(2)
float("3")
float("9.452388")

9.452388

In [9]:
str(2.1)

'2.1'

In [10]:
x = input("number 1 ?")
y = input("number 2nd ?")

print(f"the result : {x+y}")

number 1 ?5
number 2nd ?6
the result : 56

# Operators

In [11]:
'''
1. Arithmetic 
2. Assignment
3. Comparison
4. Logical
5. Identify
6. Membership
7. Bitwise
'''

'\n1. Arithmetic \n2. Assignment\n3. Comparison\n4. Logical\n5. Identify\n6. Membership\n7. Bitwise\n'

In [12]:
5+6
6-2
7/2
5*9
5%3
5**2
8//3

2

In [15]:
x= 5
x = x+3 # x+=3

In [16]:
x

8

In [17]:
y = 5
y+=3 #y = y + 3

In [18]:
y

8

In [19]:
z-=4
z%=5

In [28]:
x==y

True

In [24]:
# is
# is not

In [ ]:
v is y
v is not y

In [25]:
# in
# not in

In [26]:
# &
# |
# ^
# ~
# <<
# >>

# List

In [1]:
list1 = ["hi","fruit","tree"]
print(list1)

['hi', 'fruit', 'tree']

In [2]:
mylist = [1,5,56,"banana"]
print(mylist)

[1, 5, 56, 'banana']

In [5]:
mylist = [1,5,56,"banana"]
print(mylist[3])
print(mylist[0])
print(mylist[-1])

banana
1
banana

In [12]:
thislist = ["1","2","3","4","5","6","7"]
print(thislist[1:5])

['2', '3', '4', '5']

# Tuple

In [8]:
tup = ("apple","boll","cherry")
print(tup)

('apple', 'boll', 'cherry')

In [9]:
print(tup[0])

apple

In [10]:
print(tup[-3])

apple

In [11]:
new = ("hello","god","good","bye","Ram","mohan")
print(new[0:5])

('hello', 'god', 'good', 'bye', 'Ram')

# Sets

In [14]:
set1 = {"Ram","Shyam","Rohan","adi","sam","tom"}
print(set1)

for x in set1:
    print(x)

{'tom', 'Shyam', 'adi', 'Ram', 'Rohan', 'sam'}
tom
Shyam
adi
Ram
Rohan
sam

In [20]:
print("adi" in set1)

True

In [17]:
set1.add("aditya")
print(set1)

{'tom', 'Shyam', 'adi', 'aditya', 'Ram', 'Rohan', 'sam'}

# Dictionary

In [22]:
dic = {
    "Name": "Ram",
    "Age" : "Twenty",
    "Year":1926
}
print(dic)

{'Name': 'Ram', 'Age': 'Twenty', 'Year': 1926}

In [23]:
x = dic["Age"]
print(x)

Twenty

In [24]:
x = dic.get("Age")
print(x)

Twenty

# if statement

In [3]:
a= 20
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

# elif

In [17]:
a=20
c = 20
if a>c:
    print("a is greater than c")
elif a==c:
    print("a and c are equal")

a and c are equal

# else

In [6]:
x= 200
y = 50
if y>x:
    print("y is greater than x")
elif y==x:
    print("x and y are equal")
else:
    print("x is greater than y")

x is greater than y

In [7]:
c=20
d=1
if d>c:
    print("d is greater than c")
else:
    print("d is not greater than c")

d is not greater than c

In [8]:
if c>d: print("c is greater than d")

c is greater than d

In [18]:
c=20
d=1
print("D") if d>c else print("C")

C

# and

In [14]:
a = 200
b= 33
c= 500
if a>b and c>a:
    print("Both Conditions are true")

Both Conditions are true

# or

In [15]:
a=200
b=33
c=500
if a>b or a>c:
    print("At least one of the condition is true")

At least one of the condition is true

# Nested if

In [21]:
x=21

if x>10:
    print("Above 10")
    if x>20:
        print("and also above 20")
    else:
        print("but not above 20")

Above 10
and also above 20

# pass statement

In [23]:
a=33
b=200

if b>a:
    pass

# Boolean Values

In [24]:
print(10>9)

True

In [25]:
print(10==9)

False

In [26]:
print(10<9)

False

# Evaluate Values and Variables

In [27]:
print(bool("Hello"))

True

In [28]:
print(bool(15))

True

In [30]:
print(bool(int('0')))

False

In [31]:
bool(["a","b","c"])

True

In [32]:
print(bool(False))

False

In [33]:
print(bool(None))

False

In [34]:
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print( bool({}))

False
False
False
False
False

# Example

In [39]:
class myclass():
    def __len__(self):
        return 0

myobj = myclass()
print(bool(myobj))

False

# While

In [1]:
i=1
while i<6:
    print(i)
    i += 1

1
2
3
4
5

In [2]:
i=1
while i<6:
    print(i)
    if i==3:
        break
    i += 1

1
2
3

In [3]:
i=0
while i<6:
    i += 1 
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [4]:
i = 1
while i<6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# for

In [7]:
fruits = ["apple","banana","cherry"]

for x in fruits:
    print(x)

apple
banana
cherry

In [2]:
fruits = ["apple","banana","cherry"]

for x in fruits:
    print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [3]:
str = "banana"
print(str[3])
print("--------------------")
for x in "banana":
    print(x)

a
--------------------
b
a
n
a
n
a

In [9]:
fruits = ["apple","banana","cherry"]

for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [12]:
fruits = ["apple","banana","cherry"]

for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [13]:
fruits = ["apple","banana","cherry"]

for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

# range() function

In [5]:
for x in range(13):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [6]:
for x in range(2,11):
    print(x)

2
3
4
5
6
7
8
9
10

In [8]:
for x in range(2,30,2):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

# Iterating over a sequence

In [11]:
names = ['Ram','Shyam','Mohan','Sita','Sam','Harry','yash','adi']
print(len(names))

8

In [12]:
for i in range(1,len(names),2):
    print(i, names[i])

1 Shyam
3 Sita
5 Harry
7 adi

In [1]:
for x in range(6):
    print(x)
else:
    print("Finally Finished !")

0
1
2
3
4
5
Finally Finished !

# Nested Loops

In [2]:
ajd = ["red","brown","pink"]
fry = ["rice","apple","cherry"]

for x in ajd:
    for y in fry:
        print(x, y)

red rice
red apple
red cherry
brown rice
brown apple
brown cherry
pink rice
pink apple
pink cherry

In [4]:
for x in [0,1,2]:
    pass

In [8]:
direction = input("Do you want to count up or Down ? (u/d)")
if direction == "u":
    num = int(input("What is the top number?"))
    for i in range(1, num+1):
        print(i)
elif direction == "d":
    num = int(input("Enter a number below 20 :"))
    for i in range(20, num-1 , -1):
        print(i)
else : print("I don't Understand")

Do you want to count up or Down ? (u/d)f
I don't Understand

# Functions

## Creating

In [9]:
def my_function():
    print("Hello from a function")

## Calling

In [13]:

my_function()

Hello from a function

## Arguments

In [14]:
def my_function(fname):
    print(fname + " Roy")
    
my_function("Tom")

Tom Roy

In [15]:
my_function("Sapna")

Sapna Roy

In [16]:
# args

In [19]:
def my_function(fname , lname):
    print(fname + " " + lname)

my_function("Sunidhi","Pandey")

Sunidhi Pandey

In [20]:
my_function("ram","mohan","gita")

TypeError: my_function() takes 2 positional arguments but 3 were given

## Arbitary Argument , *args

In [1]:
def my_function(*kids):
    print("The youngest kid is " + kids[-1])
    
my_function("tom","jerry","harry")

The youngest kid is harry

## Keyword agrs , kwargs

In [2]:
def my_function(c3 , c2, c1):
    print("THe youngest kid is " +c3)
    
my_function(c1 = "Tom" , c2 = "Jerry", c3 = "Harry")

THe youngest kid is Harry

## kwargs**

In [3]:
def my_function(**kids):
    print("His last name is " + kids["lname"])
    
my_function(fname = "Harry", lname = "Potter")

His last name is Potter

## Default parameter

In [4]:
def my_function(country = "Norway"):
    print("I am from " + country)
    
my_function()

I am from Norway

In [5]:
my_function("India")

I am from India

In [6]:
my_function("Brazil")

I am from Brazil

## Passing a list as an args

In [8]:
def my_function(food):
    for x in food :
        print(x)
        
fruit = ["apple","banana","cherry"]

my_function(fruit)

apple
banana
cherry

## Return value

In [9]:
def my_function(x):
    myval = 5*x
    return myval

print(my_function(3))

15

In [10]:
print(my_function(5))

25

In [11]:
# return.multiple.py

In [12]:
def moddiv(a,b):
    return (a//b , a % b)

print(moddiv(20,7))

(2, 6)

## Pass st.

In [14]:
def my_function():
    pass

# Example

In [17]:
def check(num):
    for i in range(2,num):
        if (num % i == 0):
            return False
    return True

user = int(input("Please enter an integer :"))
if (check(user)):
    print(f"{user} is a prime number.")
else:
    print(f"{user} is not a prime number")

Please enter an integer :7
7 is a prime number.

# Recursion

In [47]:
def fact(x):
    if x == 1 :
        return 1
    else :
        return (x* fact(x-1))
    
num = 6
print("The Factorial of", num , "is" , fact(num))

The Factorial of 6 is 720

In [48]:
# 3*2*1 = 6
# 6*5*4*3*2*1 = 720

# Variable Scope

In [4]:
# Local & Global

In [49]:
m1 = "GV"

def my_function():
    print("\n Inside a Function")
    print(m1)
    m2 = "LV"
    print(m2)
    
my_function()
print("\n Outside the function")

 Inside a Function
GV
LV

 Outside the function

In [50]:
print(m1)

GV

In [7]:
print(m2)

NameError: name 'm2' is not defined

# Names sharing Variables

In [8]:
m1 = "GV"

def my_function():
    m1 = "LV"
    print("\n Inside the function")
    print(m1)

my_function()

 Inside the function
LV

In [9]:
print("\n Outside the function")
print(m1)

 Outside the function
GV

# The Global keyword

In [52]:
def myfun():
    global x
    x = "fantastic"
    
myfun()

print(f"Python is {x}")

Python is fantastic

In [15]:
x = "aws"

def myfun():
    global x
    x = "fantastic"
    
myfun()

print("Python is " +x)

Python is fantastic

# Lambda

In [16]:
# lambda args : expression

In [53]:
x = lambda a : a + 10

print(x(5))
print(x(10))

15
20

In [18]:
x = lambda a,b : a*b
print(x(5,6))

30

In [55]:
x = lambda a,b,c : a+b+c
print(x(5,6,9))

20

In [56]:
def myfun(n):
    return lambda a: a*n

In [58]:
mydoubler = myfun(2)

print(mydoubler(11))
print(mydoubler(17))

22
34

In [23]:
print(mydoubler(100))

200

In [60]:
mytriple = myfun(3)
print(mytriple(11))
print(mytriple(12))

33
36

# Python Modules

In [25]:
# Code libraries 
# files - sets of function 
# built in functions

## Creating a module

In [26]:
def greeting(name):
    print("Hello, " +name)

In [28]:
# mymodule.py

# Built in module

In [29]:
import platform 

x = platform.system()
print(x)

Windows

# dir()

In [30]:
import platform as p
import math as m
import numpy as np

x= dir(p)
print(x)

['DEV_NULL', '_UNIXCONFDIR', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_default_architecture', '_dist_try_harder', '_follow_symlinks', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_linux_distribution', '_lsb_release_version', '_mac_ver_xml', '_node', '_norm_version', '_parse_release_file', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_release_filename', '_release_version', '_supported_dists', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_uname', '_syscmd_ver', '_uname_cache', '_ver_output', 'architecture', 'collections', 'dist', 'java_ver', 'libc_ver', 'linux_distribution', 'mac_ver', 'machine', 'node', 'os', 'platform', 'popen', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'warnings', 'win32_ver']

In [31]:
# dir = directory

In [32]:
print(dir(m))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [33]:
print(dir(np))

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'CLIP', 'ComplexWarning', 'DataSource', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'PackageLoader', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__doc__', '__file__', '__git_revision__', '__loader__', '__mkl_version__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_distributor_init', '_globals', '_import_tools', '_mat', '_mklinit', '_numpy_tester', 'abs', 'absolute', 'absolute_import', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'add_newdocs', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'bench', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex', 'complex128', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'division', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'fv', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'int_asbuffer', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'ipmt', 'irr', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'long', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mirr', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'nper', 'npv', 'numarray', 'number', 'obj2sctype', 'object', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'pkgload', 'place', 'pmt', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'ppmt', 'print_function', 'prod', 'product', 'promote_types', 'ptp', 'put', 'putmask', 'pv', 'r_', 'rad2deg', 'radians', 'random', 'rank', 'rate', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypeNA', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typeDict', 'typeNA', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

# Advanced Built in Data types

## List

In [1]:
list1 = ["apple","banana","Cherry"]
print(list1)

['apple', 'banana', 'Cherry']

In [2]:
print(list1[1])

banana

In [3]:
print(list1[-1])

Cherry

In [4]:
print(list1[-2])

banana

In [5]:
print(list1[0])

apple

In [6]:
print(list1[-3])

apple

In [7]:
list1 = ["apple","banana","cherry","kiwi","ice","orange","mango","melon"]
print(list1[2:5])

['cherry', 'kiwi', 'ice']

In [8]:
print(list1[0:4])

['apple', 'banana', 'cherry', 'kiwi']

In [9]:
print(list1[:4])

['apple', 'banana', 'cherry', 'kiwi']

In [10]:
print(list1[2:])

['cherry', 'kiwi', 'ice', 'orange', 'mango', 'melon']

In [11]:
print(list1[-4:-1])

['ice', 'orange', 'mango']

In [12]:
list1 = ["apple","banana","cherry","kiwi","ice","orange","mango","melon"]
list1[1] = "blackberry"
print(list1)

['apple', 'blackberry', 'cherry', 'kiwi', 'ice', 'orange', 'mango', 'melon']

In [13]:
for x in list1 :
    print(x)

apple
blackberry
cherry
kiwi
ice
orange
mango
melon

In [14]:
if "apple" in list1 :
    print("yes it is")

yes it is

In [15]:
if "orange" not in list1 :
    print("no it is not")

In [16]:
print(len(list1))

8

In [17]:
list1 = ["apple","banana","cherry","kiwi","ice","orange","mango","melon"]
list1.append("blackberry")
print(list1)

['apple', 'banana', 'cherry', 'kiwi', 'ice', 'orange', 'mango', 'melon', 'blackberry']

In [18]:
print(len(list1))

9

In [19]:
list1.insert(5,"cream")
print(list1)

['apple', 'banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango', 'melon', 'blackberry']

In [20]:
list1.remove("blackberry")
print(list1)

['apple', 'banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango', 'melon']

In [21]:
list1.pop()
print(list1)

['apple', 'banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango']

In [22]:
list1

['apple', 'banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango']

In [23]:
del list1[0]
print(list1)

['banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango']

In [24]:
del list1

In [25]:
list1

NameError: name 'list1' is not defined

In [12]:
list1 = ['banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango']

In [13]:
list1

['banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango']

In [14]:
list1.clear()
print(list1)

[]

In [15]:
list1 = ['banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango']

In [16]:
list1

['banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango']

In [17]:
list2 = list1.copy()


print(list1)
print(list2)

['banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango']
['banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango']

In [32]:
mylist = list(list2)
print(mylist)

['banana', 'cherry', 'kiwi', 'ice', 'cream', 'orange', 'mango']

In [33]:
list1 = ["a","b","c"]
list2 = [1,2,3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [34]:
for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [36]:
list1 = ["a","b","c"]
list2 = [1,2,3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [5]:
mytuple = ("a","b","c")
newlist = list(mytuple)

In [6]:
print(newlist)

['a', 'b', 'c']

In [39]:
student = [["1","aditya"],["2","bavesh"],["3","Rani"]]
print(student)

[['1', 'aditya'], ['2', 'bavesh'], ['3', 'Rani']]

In [40]:
print(student[0])

['1', 'aditya']

In [41]:
print(student[-1])

['3', 'Rani']

In [42]:
A = [[1,2,3],[4,5,6],[7,8,9]]
print(A)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
print(A[0])

[1, 2, 3]

In [44]:
print(A[0],'\n',A[1],'\n',A[2])

[1, 2, 3]
 [4, 5, 6]
 [7, 8, 9]

In [46]:
# append()
# clear()
# copy()
#insert()
# extend()
# pop()
# remove()

In [2]:
# count()
# index()
# reverse()
# sort()

# tuple

In [18]:
tup1 = ("a","b","c")
print(tup1)

('a', 'b', 'c')

In [19]:
print(tup1[0])

a

In [20]:
print(tup1[-3])

a

In [21]:
tup1 = ("a","b","c","d","e","f","g")
print(tup1[2:5])

('c', 'd', 'e')

In [22]:
print(tup1[-4:-1])

('d', 'e', 'f')

In [23]:
y = list(tup1)

y[1] = "h"
tup1 = tuple(y)

print(tup1)

('a', 'h', 'c', 'd', 'e', 'f', 'g')

In [24]:
for x in tup1:
    print(x)

a
h
c
d
e
f
g

In [25]:
tup1

('a', 'h', 'c', 'd', 'e', 'f', 'g')

In [28]:
if "h" in tup1:
    print("Yes")

Yes

In [29]:
print(len(tup1))

7

In [30]:
x = list(tup1)
x.append("b")

tup1 = tuple(x)
print(tup1)

('a', 'h', 'c', 'd', 'e', 'f', 'g', 'b')

In [43]:
tup2 = ("a")
print(type(tup2))
del tup2

<class 'str'>

In [44]:
tup2

NameError: name 'tup2' is not defined

In [32]:
tup2 = ("a",)
print(type(tup2))

<class 'tuple'>

In [42]:
tup1

(1, 2, 3, 4, 5, 6)

In [33]:
del tup1

In [34]:
tup1

NameError: name 'tup1' is not defined

In [35]:
tup1 = (1,2,3,4,5,6)

In [36]:
tup2 = ("a","b","c")

In [37]:
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6, 'a', 'b', 'c')

In [38]:
thistuple = tuple((1,2,3))
print(thistuple)

(1, 2, 3)

In [39]:
# built in method
# 1. count()
# 2. index()

In [40]:
number_tuple = (1,2,3)
number_list = list(number_tuple)
print(number_list)

[1, 2, 3]

In [41]:
str_list = ["one","two","three"]
str_tuple = tuple(str_list)
print(str_tuple)

('one', 'two', 'three')

# Python String

In [45]:
print("Hello")

Hello

In [46]:
a = "idea"
print(a)

idea

In [47]:
a = """
bdgrgnmk dhnkbgo dheowflovm ggnvzfozvm  
fignvor ehlemofce fgltmseop hosemcvo
dfnierovnf ormfsmcvmo
"""

print(a)

bdgrgnmk dhnkbgo dheowflovm ggnvzfozvm
fignvor ehlemofce fgltmseop hosemcvo
dfnierovnf ormfsmcvmo

In [48]:
x = "Python Programming"
print(x[0])

P

In [50]:
print(x[2:6])

thon

In [51]:
print(x[-6:-1])

ammin

In [52]:
print(len(x))

18

In [53]:
y =  "he l"
print(len(y))

4

In [56]:
print("Prachi\\n Sahu")

Prachi\n Sahu

In [57]:
a = "               Good!              "
print(a)

               Good!

In [58]:
print(a.strip())

Good!

In [59]:
print(a.lower())

               good!

In [60]:
print(a.upper())

               GOOD!

In [1]:
x = "Good morning"

In [2]:
print(x)

Good morning

In [3]:
print(x.replace("Goo","Ba"))

Bad morning

In [37]:
a = "Hello World , I am fine now"
print(a.split(','))

['Hello World ', ' I am fine now']

In [5]:
# check 

print(a)

Hello World , I am fine now....

In [6]:
x = "ine" in a
print(x)

True

In [7]:
x = "ine" not in a
print(x)

False

In [8]:
x = "dfg" in a
print(x)

False

In [9]:
# Concatenation

a = "hello"
b = "guys"
c = a + b
print(c)

helloguys

In [10]:
d = a + " " + b
print(d)

hello guys

In [11]:
age = 45
text = f"hi harry {age}"
print(text)

hi harry 45

In [12]:
year = "2005"
month = "jan"
e = year+ " " + month
print(e)

2005 jan

In [14]:
age = 45
text = "hi harry {}"
print(text.format(age))

hi harry 45

In [15]:
k =  3
i = 15
j = 86
myu = "I want {} items and {} apples and {} cherry"
print(myu.format(j,k,i))

I want 86 items and 3 apples and 15 cherry

In [16]:
# \
# \n
# \t

In [17]:
s = "my name is nice and i "love" it."
print(s)

SyntaxError: invalid syntax (<ipython-input-17-c54e292e2c4e>, line 1)

In [18]:
s = "my name is nice and i \"love\" it."
print(s)

my name is nice and i "love" it.

In [19]:
e = "morning"
for i in e:
    print(i)

m
o
r
n
i
n
g

In [22]:
def main() :
    g = "I like to listen music"
    
    h = g.split()
    
    print(h)

In [23]:
main()

['I', 'like', 'to', 'listen', 'music']

In [24]:
# String are immutable.

In [25]:
5*3

15

In [26]:
# The Repetition Operator

In [36]:
num = [3]*6
print(num)

[3, 3, 3, 3, 3, 3]

In [33]:
x = "K "*15
print(x)

K K K K K K K K K K K K K K K

In [34]:
print("good "*3)

good good good

In [2]:
def main():
    count = 0
    
    my_string = input('Enter a sentance : ')
    
    for ch in my_string:
        if ch == "T" or ch == "t":
            count += 1
            
    print(f"The letter T appears {count} times.")

In [3]:
main()

Enter a sentance : unsaved appears mainly
The letter T appears 0 times.

In [4]:
main()

Enter a sentance : the letter t is very interesting
The letter T appears 6 times.

In [5]:
main()

Enter a sentance : We are learning Python here.
The letter T appears 1 times.

In [7]:
# count += 1 
# count = count + 1

In [8]:
def main():
    user_string = input('Enter a string :')
    
    print("This is what I found about that string")
    
    if user_string.isalnum():
        print('The string is alphanumeric.')
    
    if user_string.isdigit():
        print("The string contains only digits.")
        
    if user_string.isalpha():
        print("the string only have alphabetic characters.")
        
    if user_string.isspace():
        print("the string contains only whitespace character.")
        
    if user_string.islower():
        print("all are in lower case.")
        
    if user_string.isupper():
        print("all are in upper case.")

In [9]:
main()

Enter a string :ben 10 is good
This is what I found about that string
all are in lower case.

In [10]:
main()

Enter a string :4541
This is what I found about that string
The string is alphanumeric.
The string contains only digits.

In [11]:
main()

Enter a string :COW IS IN INDIA
This is what I found about that string
all are in upper case.

In [12]:
main()

Enter a string :
This is what I found about that string
the string contains only whitespace character.

In [13]:
main()

Enter a string :i eats mango
This is what I found about that string
all are in lower case.

In [1]:
def main():
    date_string = "31/08/2021"
    
    date_list = date_string.split('/')
    
    print('Month :',date_list[1])
    print('Day :',date_list[0])
    print('Year :',date_list[2])

In [2]:
main()

Month : 08
Day : 31
Year : 2021

# Dictionary

In [5]:
dict1 = {
    "brand" : "Google",
    "model" : "new",
    "year" : 2021
}
print(dict1)

{'brand': 'Google', 'model': 'new', 'year': 2021}

In [6]:
x = dict1["model"]
print(x)

new

In [7]:
x = dict1.get("model")
print(x)

new

In [8]:
dict1["year"] = 2020
print(dict1)

{'brand': 'Google', 'model': 'new', 'year': 2020}

In [9]:
for x in dict1:
    print(x)

brand
model
year

In [10]:
for x in dict1 :
    print(f"{x}:{dict1[x]}")

brand:Google
model:new
year:2020

In [11]:
print(dict1.values())

dict_values(['Google', 'new', 2020])

In [12]:
for x in dict1.values():
    print(x)

Google
new
2020

In [13]:
print(dict1.items())

dict_items([('brand', 'Google'), ('model', 'new'), ('year', 2020)])

In [14]:
for (val, key) in dict1.items():
    print(val, key)

brand Google
model new
year 2020

In [15]:
if "model" in dict1:
    print("Available")

Available

In [16]:
print(len(dict1))

3

In [17]:
dict1["color"] = "blue"
print(dict1)

{'brand': 'Google', 'model': 'new', 'year': 2020, 'color': 'blue'}

In [18]:
dict1.pop("model")
print(dict1)

{'brand': 'Google', 'year': 2020, 'color': 'blue'}

In [20]:
dict1.popitem()
print(dict1)

{'brand': 'Google', 'year': 2020}

In [21]:
del dict1["year"]
print(dict1)

{'brand': 'Google'}

In [22]:
del dict1

In [23]:
dict1

NameError: name 'dict1' is not defined

In [24]:
dict1 = {
    "brand" : "Google",
    "model" : "new",
    "year" : 2021
}

In [25]:
dict1.clear()

In [26]:
dict1

{}

In [27]:
mydict = dict1.copy()
print(mydict)

{}

In [28]:
dict2 = dict(mydict)
print(dict2)

{}

# Nested Dict

In [29]:
myfamily = {
    "child1" : {
        "name" : "Harry",
        "year" : 2002
    },
    "child2" : {
        "name" : "Ram",
        "year" : 1995
    },
    "child3" : {
        "name" : "Rahul",
        "year" : 2020
    }
}

In [30]:
myfamily

{'child1': {'name': 'Harry', 'year': 2002},
 'child2': {'name': 'Ram', 'year': 1995},
 'child3': {'name': 'Rahul', 'year': 2020}}

In [32]:
dict1 = dict(brand = "Google",model = "new", year = 2021)
print(dict1)

{'brand': 'Google', 'model': 'new', 'year': 2021}

In [33]:
# dict() constructor

# Sets

In [1]:
set1 = {"a","a","b","c"}
print(set1)

{'a', 'c', 'b'}

In [2]:
for x in set1:
    print(x)

a
c
b

In [3]:
print("s" in set1)

False

In [4]:
if "s" not in set1:
    print("yes")

yes

In [5]:
# Set is unchangable data type.

In [6]:
set1.add("s")
print(set1)

{'a', 'c', 's', 'b'}

In [7]:
set1.update(["o","d","e"])
print(set1)

{'c', 'o', 'a', 'd', 'e', 's', 'b'}

In [8]:
print(len(set1))

7

In [9]:
set1.remove("b")
print(set1)

{'c', 'o', 'a', 'd', 'e', 's'}

In [10]:
set1.discard("c")
print(set1)

{'o', 'a', 'd', 'e', 's'}

In [11]:
set1.pop()
print(set1)

{'a', 'd', 'e', 's'}

In [12]:
set1.clear()
print(set1)

set()

In [13]:
del set1

In [14]:
set1

NameError: name 'set1' is not defined

In [15]:
set1 = {"a","b","c"}
set2 = {1,2,3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [16]:
st1 = {"s","a","s","x","v","x",2}
st2 = {"v",1,2,3,5,4,4}

st1.update(st2)
print(st1)

{1, 2, 3, 4, 5, 'x', 'a', 's', 'v'}

In [18]:
st1 = set(["s","a","s","x","v","x",2,6]) # s,a,x,6,v,2
st2 = set(["v",1,2,3,5,4,4]) #  1,3,4,5,2,v

st3 = st1.intersection(st2)

print(st3)

{2, 'v'}

In [19]:
print(st1.difference(st2)) # st1 - st2 = st1

{'a', 's', 'x', 6}

In [20]:
print(st2.difference(st1)) # st2 - st1 = st2

{1, 3, 4, 5}

In [21]:
# set()

In [24]:
myset = set(["a","v",1,5])
print(myset)

{'a', 'v', 5, 1}

In [1]:
# Set Methods
# add()
# clear()
# copy()
# difference()
#update()
#intersection()
#pop()
#remove()
#union()

# Files

In [3]:
#open

In [4]:
help(open)

Help on built-in function open in module io:

open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)
    Open file and return a stream.  Raise IOError upon failure.

    file is either a text or byte string giving the name (and the path
    if the file isn't in the current working directory) of the file to
    be opened or an integer file descriptor of the file to be
    wrapped. (If a file descriptor is given, it is closed when the
    returned I/O object is closed, unless closefd is set to False.)

    mode is an optional string that specifies the mode in which the file
    is opened. It defaults to 'r' which means open for reading in text
    mode.  Other common values are 'w' for writing (truncating the file if
    it already exists), 'x' for creating and writing to a new file, and
    'a' for appending (which on some Unix systems, means that all writes
    append to the end of the file regardless of the current seek position).
    In text mode, if encoding is not specified the encoding used is platform
    dependent: locale.getpreferredencoding(False) is called to get the
    current locale encoding. (For reading and writing raw bytes use binary
    mode and leave encoding unspecified.) The available modes are:

    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    'U'       universal newline mode (deprecated)
    ========= ===============================================================

    The default mode is 'rt' (open for reading text). For binary random
    access, the mode 'w+b' opens and truncates the file to 0 bytes, while
    'r+b' opens the file without truncation. The 'x' mode implies 'w' and
    raises an `FileExistsError` if the file already exists.

    Python distinguishes between files opened in binary and text modes,
    even when the underlying operating system doesn't. Files opened in
    binary mode (appending 'b' to the mode argument) return contents as
    bytes objects without any decoding. In text mode (the default, or when
    't' is appended to the mode argument), the contents of the file are
    returned as strings, the bytes having been first decoded using a
    platform-dependent encoding or using the specified encoding if given.

    'U' mode is deprecated and will raise an exception in future versions
    of Python.  It has no effect in Python 3.  Use newline to control
    universal newlines mode.

    buffering is an optional integer used to set the buffering policy.
    Pass 0 to switch buffering off (only allowed in binary mode), 1 to select
    line buffering (only usable in text mode), and an integer > 1 to indicate
    the size of a fixed-size chunk buffer.  When no buffering argument is
    given, the default buffering policy works as follows:

    * Binary files are buffered in fixed-size chunks; the size of the buffer
      is chosen using a heuristic trying to determine the underlying device's
      "block size" and falling back on `io.DEFAULT_BUFFER_SIZE`.
      On many systems, the buffer will typically be 4096 or 8192 bytes long.

    * "Interactive" text files (files for which isatty() returns True)
      use line buffering.  Other text files use the policy described above
      for binary files.

    encoding is the name of the encoding used to decode or encode the
    file. This should only be used in text mode. The default encoding is
    platform dependent, but any encoding supported by Python can be
    passed.  See the codecs module for the list of supported encodings.

    errors is an optional string that specifies how encoding errors are to
    be handled---this argument should not be used in binary mode. Pass
    'strict' to raise a ValueError exception if there is an encoding error
    (the default of None has the same effect), or pass 'ignore' to ignore
    errors. (Note that ignoring encoding errors can lead to data loss.)
    See the documentation for codecs.register or run 'help(codecs.Codec)'
    for a list of the permitted encoding error strings.

    newline controls how universal newlines works (it only applies to text
    mode). It can be None, '', '\n', '\r', and '\r\n'.  It works as
    follows:

    * On input, if newline is None, universal newlines mode is
      enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
      these are translated into '\n' before being returned to the
      caller. If it is '', universal newline mode is enabled, but line
      endings are returned to the caller untranslated. If it has any of
      the other legal values, input lines are only terminated by the given
      string, and the line ending is returned to the caller untranslated.

    * On output, if newline is None, any '\n' characters written are
      translated to the system default line separator, os.linesep. If
      newline is '' or '\n', no translation takes place. If newline is any
      of the other legal values, any '\n' characters written are translated
      to the given string.

    If closefd is False, the underlying file descriptor will be kept open
    when the file is closed. This does not work when a file name is given
    and must be True in that case.

    A custom opener can be used by passing a callable as *opener*. The
    underlying file descriptor for the file object is then obtained by
    calling *opener* with (*file*, *flags*). *opener* must return an open
    file descriptor (passing os.open as *opener* results in functionality
    similar to passing None).

    open() returns a file object whose type depends on the mode, and
    through which the standard file operations such as reading and writing
    are performed. When open() is used to open a file in a text mode ('w',
    'r', 'wt', 'rt', etc.), it returns a TextIOWrapper. When used to open
    a file in a binary mode, the returned class varies: in read binary
    mode, it returns a BufferedReader; in write binary and append binary
    modes, it returns a BufferedWriter, and in read/write mode, it returns
    a BufferedRandom.

    It is also possible to use a string or bytearray as a file for both
    reading and writing. For strings StringIO can be used like a file
    opened in a text mode, and for bytes a BytesIO can be used like a file
    opened in a binary mode.

In [5]:
# filename
# mode

In [6]:
file = open("countries.txt","w")

In [7]:
file.write("Italy\n")
file.write("Germany\n")
file.write("Spain\n")
file.close()

In [8]:
file = open("countries.txt","r")
print(file.read())

Italy
Germany
Spain

In [9]:
file = open("countries.txt","a")
file.write("India\n")
file.close()

In [10]:
file = open("countries.txt","r")
print(file.read())

Italy
Germany
Spain
India

In [11]:
fh = open("tables.txt")

In [12]:
fh = open("tables.txt","w")

In [13]:
fh.write("                                     I am happy\n         I know it.    ")
fh.close()

In [14]:
fh = open("tables.txt","rt")

In [15]:
for line in fh.readlines():
    print(line.strip())
fh.close()

I am happy
I know it.

In [16]:
fh = open("tables.txt","r")
print(fh.read())

                                     I am happy
         I know it.

In [17]:
fil = open("test.csv","r")

In [18]:
print(fil.read(10))

PRODUCT_ID

In [20]:
import os

In [ ]:
os.rename("test.csv","test1.csv")

In [3]:
# a^b
a = 5
b =2

In [4]:
a**b

25